version: "3.8"

networks:
  infra-kafka:
    external: true

volumes:
  grafana_data:

services:
  # -------------------- MONITORING --------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - infra-kafka

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - infra-kafka
  
  
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - grafana
      - prometheus
    networks:
      - infra-kafka

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - infra-kafka
    depends_on:
      - grafana
      - prometheus
    command:
      - '--path.rootfs=/host'
    volumes:
      - '/:/host:ro,rslave'

  kafka-exporter:
    image: danielqsj/kafka-exporter:latest
    container_name: kafka-exporter
    command:
      - '--kafka.server=kafka:9092'
    ports:
      - "9308:9308"
    depends_on:
      - grafana
      - prometheus
    restart: unless-stopped
    networks:
      - infra-kafka

  # hdfs-exporter:
  #   image: kiwigrid/hadoop-prometheus-exporter:latest
  #   container_name: hdfs-exporter
  #   env_file:
  #     - .env
  #   ports:
  #     - "9105:9105"
  #   networks:
  #     - infra-kafka
