name: Deploy Weather Stack

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Create Ansible inventory
        run: |
          echo "[servers]" > ansible/inventory.ini
          echo "your-server-ip ansible_user=ubuntu" >> ansible/inventory.ini

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          CITY: ${{ vars.CITY }}
          PG_USER: ${{ vars.PG_USER }}
          PG_DB: ${{ vars.PG_DB }}
        run: |
          ansible-playbook ansible/roles/deploy_stack/tasks/main.yml \
            -i ansible/inventory.ini \
            --extra-vars "openweather_api_key=$OPENWEATHER_API_KEY pg_password=$POSTGRES_PASSWORD city=$CITY pg_user=$PG_USER pg_db=$PG_DB"
